<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>User <strong><%= @feedback[:name]  %> (<%= @feedback[:email] %>)</strong> send feedback:</p>
        <p><%= @feedback[:message] %></p>
    </body>
</html>